@model CreateChat

<td>
    @Html.EditorFor(model=>model.Client)
    @Html.EditorFor(model=>model.SelectedUsers)
    @Html.EditorFor(model=>model.Users)
    @Html.EditorFor(model=>model.AddOrRemoveUser)
</td>